LIVEKIT_URL="wss://murf-challenge-cq2qrx29.livekit.cloud"
LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET=""

OPENAI_API_KEY=""



DATABASE_URL="postgresql://postgres:postgres@localhost:5432/voice_agent?schema=public"